body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #CCD0CF;
    color: black;
}

h1 {
    margin-bottom: 20px;
}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
}

.button-container,
.settings-container {
    margin: 10px 0;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode button {
    background-color: #333;
    color: white;
}

.dark-mode button:hover {
    background-color: #555;
}
